.btn {
	font-weight: 500;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	//   default button is medium sized
	padding: 16px 32px;
	//   small sized button
	&.small {
		padding: 8px 16px;
		@media screen and (min-width: $breakpoint-lg) {
			
			padding: 12px 24px;
		}
		line-height: 20px;
		color: #fff;
		background: rgba(255, 255, 255, 0.1);
	}
	&.big {
		font-size: 18px;
		padding: 24px 16px;
	}

	//outline button
	&.outline {
		background: transparent;
		border: 1px solid $fade-white;
		color: $white;
	}
}
