.download {
	position: relative;
	@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
		margin-bottom: 250px;
	}
	&__left {
		width: 100%;
		@media screen and (min-width: $breakpoint-md) {
			width: 85%;
		}
	}
	&__img {
		height: 52px;
	}
	img {
		width: 100%;
		object-fit: contain;
	}
	&__right {
		background: $white;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media screen and (max-width: $breakpoint-md) {
			padding-bottom: 20px;
		}
		@media screen and (min-width: $breakpoint-md) {
			position: absolute;
			top: 50%;
			right: 0;
			width: 528px;
			padding: 36px;
			gap: 32px;
			width: 590px;
			padding: 52px;
		}
		@media screen and (min-width: $breakpoint-lg) {
			transform: translateY(-50%);
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		gap: 24px;
		h2 {
			text-align: left;
		}
		@media screen and (min-width: $breakpoint-md) {
			h2 {
				text-align: center;
			}
		}
	}
	&__btn {
		display: flex;
		gap: 24px;
	}
	&__desc {
		text-align: left;
	}
}
