.download {
    position: relative;
	&__left {
		width: 85%;
	}
    &__img{
        height:52px;
    }
    img{
        width: 100%;
        object-fit: contain;
    }
    &__right {
        width: 590px;
        padding: 52px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 768px) {
            position: relative;
            top: 50%;
            width: 528px;
            padding: 36px;
            gap:32px;
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__btn{
        display: flex;
        gap: 24px;
    }
    &__desc{
        text-align: left;
    }
}
