.footer {
    padding-top: 70px;
    &__top{
        display: flex;
        justify-content: space-between;
    }
	&__base {
		display: flex;
        flex-direction: row;
		justify-content: space-between;
		align-items: center;
        padding:10px 0;
	}
    &__navigation{
        display: flex;
        
    }

}

