.footer {
	padding-top: 70px;
	&__top {
        display: flex;
        flex-direction: row;
				justify-content: space-between;
		// @media screen and (min-width: 768px) {
		// 	display: flex;
		// 	justify-content: space-between;
		// }
	}
	&__base {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
	&__navigation {
		display: flex;
		gap: 32px;
		justify-content: space-between;
		
		&--items{
			display: flex;
			flex-direction: column;
			width: 200px;
			gap: 20px;
			h3{
				color:$black;
			}
			a{
				color: $fade-white;
			}
		}
	}
}
