.guideline {
	background-image: url("../assets/images/guideline/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 140px;
		padding-top: 70px;
		h2 {
			color: $white;
		}
	}
	&__desc {
		display: flex;
		gap: 32px;
		&--item {
			width: 296px;
			color: rgba(255, 255, 255, 0.6);
			font-size: $base-font-size;
			font-weight: 400;
			line-height: 28px; /* 175% */
		}
	}
	&__timeline {
		display: flex;
		justify-content: space-between;
		padding: 140px 0 209px 0;
		&--item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 86px;
			&:nth-child(odd) {
				flex-direction: column-reverse;
			}
		}
		&--date {
			background-color: $white;
			color: $black;
			font-size: 18px;
			font-weight: 600;
			border-radius: 8px;
			padding: 16px 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--desc {
			color: $white;
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			border: 2px solid rgba(255, 255, 255, 0.10);
			border-radius: 8px;
			padding: 32px;
			width: 100%;
			ul{
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			li{
				display: flex;
				align-items: center;
				gap: 16px;
				img{
					width: 24px;
					height: 24px;
				}
			}
			span{
				display: flex;
				align-items: center;
			}
		}
	}
}
