.guideline {
	background-image: url("../assets/images/guideline/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__top {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		h2 {
			color: $white;
		}
		@media screen and (min-width: $breakpoint-md) {
			justify-content: space-between;
			padding-bottom: 140px;
			padding-top: 70px;
		}
	}
	&__desc {
		display: none;
		gap: 32px;
		@media screen and (min-width: $breakpoint-md) {
			display: flex;
		}
		&--item {
			width: 296px;
			color: rgba(255, 255, 255, 0.6);
			font-size: $base-font-size;
			font-weight: 400;
			line-height: 28px; /* 175% */
		}
	}
	&__timeline {
		display: flex;
		justify-content: space-between;
		
		@media screen and (max-width: $breakpoint-md) {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 24px 0;
			& > *:nth-child(n + 3) {
				display: none;
			}
		}
		@media screen and (min-width: $breakpoint-md) {
			
			padding: 140px 0 209px 0;
		}
		&--item {
			display: flex;
			@media screen and (max-width: $breakpoint-md) {
			flex-direction: row;
			justify-content: space-between;
			&:nth-child(odd) {
				flex-direction: row-reverse;
			}
			}
			flex-direction: column;
			align-items: center;
			@media screen and (min-width: $breakpoint-md) {
				gap: 86px;
				
				&:nth-child(odd) {
					flex-direction: column-reverse;
				}
			}
		}
		&--date {
			background-color: $white;
			color: $black;
			font-size: 18px;
			font-weight: 600;
			border-radius: 8px;
			padding: 16px 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--desc {
			color: $white;
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			border: 2px solid rgba(255, 255, 255, 0.1);
			border-radius: 8px;
			padding: 32px;
			@media screen and (min-width: $breakpoint-md) {
				width: 100%;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			li {
				display: flex;
				align-items: center;
				gap: 16px;
				img {
					width: 24px;
					height: 24px;
				}
			}
			span {
				display: flex;
				align-items: center;
			}
		}
	}
}
