.header {
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		margin: 0;
	}
	&__nav {
		display: none;
		@media screen and (min-width: $breakpoint-md) {
			display: flex;
			list-style-type: none;
			gap: 32px;
			align-items: center;
			&--item {
				color: $fade-white;
				font-size: 14px;
				&:active {
					color: $white;
				}
			}
		}
	}
	&__menu {
		display: block;
		@media screen and (min-width: $breakpoint-md) {
			display: none;
		}
	}
}
