.container {
	padding: 0 24px;
	@media screen and (min-width: 768px) {
		padding: 0 36px;
	}
	@media screen and (min-width: 1440px) {
		padding: 0;
		max-width: 1400px;
		margin: 0 auto;
	}
}

// background classes
.bg-primary {
	background: linear-gradient(45deg, #1b13a6 49.59%, #443cdf 88.57%), #fff;
}

.text-fade-white {
	color: $fade-white;
}
.row {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 24px;
	&.outline {
		border-radius: 8px;
		border: 1px solid rgba(29, 28, 49, 0.1);
		background: #fff;
	}
	&__title {
		color: $black;
		font-size: $card-title-font-size;
		font-weight: 700;
	}
	&__desc {
		color: rgba(29, 28, 49, 0.6);
		font-size: $base-font-size;
		font-weight: 400;
		line-height: 28px; /* 175% */
	}
}

@mixin section-font($color: $black) {
	color: $color;
	font-size: 40px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: -0.8px;
}
.section-title {
	@include section-font($color: $black);
	margin-bottom: 40px;
}

.arrowLink{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: $black;
	&__default{
		color:$primary-color;
	}
}