.container {
	padding: 0 24px;
	@media screen and (min-width: $breakpoint-md) {
		padding: 0 36px;
	}
	@media screen and (min-width: $breakpoint-lg) {
		padding: 0;
		max-width: 1400px;
		margin: 0 auto;
	}
}

// background classes
.bg-primary {
	background: linear-gradient(45deg, #1b13a6 49.59%, #443cdf 88.57%), #fff;
}
.bg-secondary {
	background: $primary-color;
}
.text-fade-white {
	color: $fade-white;
}
.row {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 24px;
	&.outline {
		border-radius: 8px;
		border: 1px solid rgba(29, 28, 49, 0.1);
		background: #fff;
	}
	&__title {
		color: $black;
		font-size: $card-title-font-size;
		font-weight: 700;
	}
	&__desc {
		color: rgba(29, 28, 49, 0.6);
		font-size: $base-font-size;
		font-weight: 400;
		line-height: 28px; /* 175% */
	}
}

@mixin section-font($color: $black) {
	color: $color;
	font-size: 20px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: -0.4 px;
	@media screen and (min-width: $breakpoint-md) {
		font-size: 32px;
		letter-spacing: -0.64px;
	}
	@media screen and (min-width: $breakpoint-lg) {
		font-size: 40px;
		letter-spacing: -0.8px;
	}
}
.section-title {
	@include section-font($color: $black);
	margin: 0;
}

.arrowLink {
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: $breakpoint-md) {
		justify-content: flex-end;
	}
	color: $black;
	&__default {
		color: $primary-color;
	}
}

.container-margin {
	@media screen and (min-width: $breakpoint-md) {
		margin-top: 120px;
	}
}

.flex {
	display: flex;
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.subscribe {
	background: $white;
	border-radius: 8px;
	
	padding: 32px 0;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	button{
		background: #4E46E8 ;
		color: $white;
		width: -moz-fit-content;
		width: fit-content;
	}
	@media screen and (min-width: $breakpoint-md) {
		width: 570px;
		background: $black;
		padding: 32px;
		button{
			background: $white ;
			color: $black;
		}
	}
	gap: 40px;
	&__title {
		color: $black;
		font-size: $card-title-font-size;
		font-weight: 700;
		@media screen and (min-width: $breakpoint-md) {
			color: $white;
		}
	}
	&__desc {
		color: $black;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px; /* 171.429% */
		@media screen and (min-width: $breakpoint-md) {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.input {
	color: $white;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(29, 28, 49, 0.2);
	width: 100%;
	font-size: $base-font-size;
	&::placeholder {
		color: rgba(29, 28, 49, 0.5);
	}
	@media screen and (min-width: $breakpoint-md) {
		background: $black;
		border-bottom: 1px solid $white;
		&::placeholder {
			color: $white;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 33px;
	@media screen and (min-width: $breakpoint-md) {
		flex-direction: row;
	}
}

.hide {
	display: none;
}
