.container {
	padding: 0 24px;
	@media screen and (min-width: 768px) {
		padding: 0 36px;
	}
	@media screen and (min-width: 1440px) {
		padding: 0;
		max-width: 1400px;
		margin: 0 auto;
	}
}	

// background classes
.bg-primary {
	background: linear-gradient(45deg, #1b13a6 49.59%, #443cdf 88.57%), #fff;
}

.text-fade-white {
	color: $fade-white;
}

.card{
	
}