// browser resets
@import "partials/reset";

// base things
@import "partials/variables";
@import "partials/base";
@import "partials/utils";
@import "partials/button";
@import "partials/header";
@import "partials/hero";
@import "partials/sponsers";
@import "partials/download";
@import "partials/review";
@import "partials/guideline";
@import "partials/footer";
@import "partials/benefits";